<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>206692349413-7igb4pi3eaukfragprohvpf4qml3fdpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206692349413-7igb4pi3eaukfragprohvpf4qml3fdpc</string>
	<key>API_KEY</key>
	<string>AIzaSyBUIIDA4BOHhPeIIfYeeF3aGq1qXVYm95Q</string>
	<key>GCM_SENDER_ID</key>
	<string>206692349413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GKCo.RallyUp</string>
	<key>PROJECT_ID</key>
	<string>rallyup-81464</string>
	<key>STORAGE_BUCKET</key>
	<string>rallyup-81464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:206692349413:ios:73794a0e82cc8b15</string>
	<key>DATABASE_URL</key>
	<string>https://rallyup-81464.firebaseio.com</string>
</dict>
</plist>